<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092527969067-3ci8j1aj5ejen6s6l2cm8u80csknko3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092527969067-3ci8j1aj5ejen6s6l2cm8u80csknko3j</string>
	<key>API_KEY</key>
	<string>AIzaSyAZkfVVM_GUjozlJ0cNQaW9gRjc8UViajk</string>
	<key>GCM_SENDER_ID</key>
	<string>1092527969067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deltavel.RapSheets</string>
	<key>PROJECT_ID</key>
	<string>rapsheets-5d5e0</string>
	<key>STORAGE_BUCKET</key>
	<string>rapsheets-5d5e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092527969067:ios:263cf56a9559d96e5dab6e</string>
</dict>
</plist>